form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

form input,
form button {
  font-family: "Roboto", sans-serif;
  background-color: #e7e7e7;
}

form input {
  flex: 1;
  height: 2rem;
  padding: 0 0.8rem;
  font-size: 1em;
  outline: none;
  border: none;
  border-radius: 2px;
}

form button {
  width: 2rem;
  height: 2rem;
  font-size: 1.25em;
  font-weight: 700;
  border-radius: 50%;
}
